@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,500;1,900&display=swap');

body, html {
  font-family: "Roboto", "Helvetica Neue", "Helvetica";
  position: absolute;
  display: block;
  overflow-x: hidden;
  left: 0;
  top: 0;
  width: 100vw;
  max-width: 100vw;
  min-width: 100vw;
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
}
.app {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;
}
.mainContainer {
  padding-left: 20px;
  padding-right: 20px;
}
.sideMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  align-self: center;
  top: 0;
  right: 100px;
  min-height: 100vh;
  min-width: 293px;
  background-color: wheat;
  padding: 2px;
  overflow: hidden;

  animation-name: fadeInSideMenu;
  animation-duration: .5s;
  animation-iteration-count: 1;

}
@keyframes fadeInSideMenu {
  0% {
    top: 25%;
    border-radius: 50%;
    max-height: 200px;
    min-height: 200px;
    max-width: 293px;
    min-width: 293px;;
  }
  100% {
    min-height: 100vh;
    max-height: 100vh;
    max-width: 293px;
    min-width: 293px;
    border-radius: 0;
  }
}
.sideMenu ul {
  list-style-type: none;
  padding: 0;
  max-width: 88%;
  position: absolute;
  left: 7%;
}
.sideMenu ul li a{
  position: relative;
  transition: all .3s;
  text-decoration: none;
  color: #333;
}
.sideMenu ul li a::after{
  position: absolute;
  content: " ";
  width: 0;
  border-bottom: 2px solid #333;
  bottom: -9%;
  left: 0;
  transition: all .3s;
}
.sideMenu ul li a:hover{
  text-decoration: none;
  color: #515151;
}
.sideMenu ul li a:hover::after{
    border-bottom: 2px solid #515151;
    width: 100%;
}
.sideMenu ul li:not(:first-child){
  margin-top: 20px;
}
.headerMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 20px 20px 20px 40px;
  max-height: 40px;
  min-height: 40px;
}
.headerMenuItem {
  transition: all .3s;
  text-decoration: none;
  color: #333;
}
.headerMenuItem:not(:first-child) {
  margin-left: 20px !important;
}
.headerBlock {
  width: 100%;
  max-width: 100%;
  min-height: 150px;
  max-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  left: 0;
  background-color: #e0cba6;
  padding-left: 20px;
  max-width: 99%;
  color: #333;
  border-radius: 20px 0 0 20px;
}
.bodyContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.postsContainer {
	display: flex;
	flex-direction: column;
	max-width: 40%;
  padding-left: 20px;
}
.postBlock {
  width: 100%;
  padding: 2%;
  transition: all .3s;
}
.postBlock.clickedPost {
  width: 150%;
  background-color: #333;
  color: #fff;
}
